<div class="row">
	<div class="col-md-3">
		<h1>Filter</h1>
		<%= form_tag("/krowspaces/search", method: "get") do %>

		<div class="form-group">
			<label for="date">Dates</label>
			<div class='input-group date' id='startDate'>
				<input type='text' name="startDate" class="form-control" />
				<span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"> </span> </span>
			</div>
		</div>
		<div class="form-group">
			<div class='input-group date' id='endDate'>
				<input type='text' name="endDate" class="form-control" />
				<span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"> </span> </span>
			</div>
		</div>

		<div class="btn-group form-group ">
			<label for="date">Price</label>
			<a href="#" class="btn btn-primary">Hi</a>
			<a href="#" class="btn btn-default">Low</a>
		</div>
		<div class="form-group">
			<label for="location">Location</label>
			<select name="location" class="form-control" id="location">
				<option value="1">Washington, DC</option>
			</select>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-default">
				Update
			</button>
		</div>
		<% end %>
	</div>
	<script type="text/javascript">
		$(function() {
			$('#startDate').datetimepicker({
				format : 'MM/DD/YYYY',
				daysOfWeekDisabled : [0, 6],
				useCurrent : false,
				minDate : moment()
			});
			$('#endDate').datetimepicker({
				format : 'MM/DD/YYYY',
				daysOfWeekDisabled : [0, 6],
				useCurrent : false,
				minDate : moment()
			});

			$("#startDate").on("dp.change", function(e) {
				$('#endDate').data("DateTimePicker").minDate(e.date);
			});
			$("#endDate").on("dp.change", function(e) {
				$('#startDate').data("DateTimePicker").maxDate(e.date);
			});
		});
	</script>
	<div class="col-md-9">
		<div class="cold-md-2 btn-group form-group ">
			<div id="map-view" class="btn btn-default">Map View</div>
			<div id="list-view" class="btn btn-primary">List View</div>
		</div>
    <div id="map" class="map"></div>
    <div id="list" class="active">

		<% @seats.each do |seat| %>
		<div class="row top10">
			<div class="col-md-4">
				<img src="http://placehold.it/400x300"/>
			</div>
			<div class="col-md-4">
				<h1>$<%= seat.price %> per day</h1>
				<p>
          <%= seat.description %>
				</p>
        <p class="amenities">
          <%= seat.amenities %>
        </p>
        <a class="btn btn-default book" href="/bookings/new?seat_id=<%=seat.id%>&start_date=<%=@dates['startDate']%>&end_date=<%=@dates['endDate']%>" role="button">Book</a>
			</div>
		</div>
		<%end%>
		<%= will_paginate @seats %>
    </div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10
            });

            <% @krowspaces.each do |krowspace| %>
            new google.maps.Marker({
                position: new google.maps.LatLng(<%=krowspace.lat %>,<%=krowspace.lng%>),
                title:"<%=krowspace.name%>"
            }).setMap(map);
            <%end%>
        };


    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDp_rASu-jTbcEgq4QNpDw6gU52Ryl9eMc&callback=initMap">
    </script>
    <script>
        var mapView = document.getElementById('map-view');
        var listView = document.getElementById('list-view');
        var list = document.getElementById('list');
        var googleMap = document.getElementById('map');
        mapView.addEventListener('click', function(){
            this.classList.remove('btn-default');
            this.classList.add('btn-primary');
            googleMap.classList.add('active');
            listView.classList.remove('btn-primary');
            listView.classList.add('btn-default');
            list.classList.remove('active');
            map.setCenter({lng: -77.009003, lat: 38.889931})
        })
        listView.addEventListener('click', function(){
            this.classList.remove('btn-default');
            this.classList.add('btn-primary');
            list.classList.add('active');
            mapView.classList.remove('btn-primary');
            mapView.classList.add('btn-default');
            googleMap.classList.remove('active');
        })


    </script>
	</div>

</div>

