<%= form_for krowspace, :url => adminpanel_krowspace_path(krowspace)  do |f| %>
<% if krowspace.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(krowspace.errors.count, "error") %> prohibited this post from being saved:</h2>
	<ul>
		<% krowspace.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>

<div class="field">
	<%= f.label :location %>
	<%= f.text_field :location %>
</div>

<div class="field">
	<%= f.label :seat_number %>
	<%= f.text_field :seat_number %>
</div>
<div class="field">
	<%= f.label :active %>
	<br />
	<%= f.check_box :active %>
	<br />
</div>


<div class="actions">
	<%= f.submit %>
</div>
<% end %>
