<%= link_to 'Edit', edit_adminpanel_krowspace_path(@krowspace) %> 
<p>
  <strong>Name:</strong>
  <%= @krowspace.name %>
  <table>
  <% @krowspace.seats.each do |seat| %>
      <tr>
        <td><%= seat.seat_number %></td>
      </tr>
  <% end %>
  </table>
</p>


<%= link_to 'new seat', new_adminpanel_krowspace_seat_path(@krowspace) %>

<%= link_to 'Back', adminpanel_krowspaces_path %>
