<%= link_to 'Edit', edit_adminpanel_krowspace_path(@krowspace) %> 
<p>
  <strong>Name:</strong>
  <%= @krowspace.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @krowspace.location %>
</p>

<p>
  <strong>Content:</strong>
  <%= @krowspace.seat_number %>
</p>
<%= link_to 'Back', adminpanel_krowspaces_path %>
